<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}

  {{ .Render "featured" }}
  <div id="content">
    {{ .Content }}
  </div>

  <footer>
    {{ .Render "footer-category" }}
  </footer>

  <div class="post-copyright">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" class="img-cc" src="/img/by-sa_4.0_80x15.png" /></a> Cet article est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution-ShareAlike 4.0 International</a>.
    {{ if gt (div (sub now.Unix .Lastmod.Unix) 86400) 365 }}
    Cet article a été publié il y a <strong>{{ div (sub now.Unix .Lastmod.Unix) 86400 }}</strong> jours, son contenu peut être inexact, voire erroné, et l'application des conseils ou consignes présents dans cet article doit être fait à votre propre appréciation. L'auteur de l'article ne pourra être tenu responsable des inconvénients pouvant résulter de l'application des conseils et consignes énoncés dans cet article.
    {{ end }}
  </div>

</article>
{{ .Render "comments" }}
{{ .Render "prev-next" }}
