{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-detail">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <p class="post-meta post-{{ lower (index .Params.categories 0) }}">
        <span class="category"><a href="/categories/{{ lower (index .Params.categories 0) }}/">{{ index .Params.categories 0 }}</a></span>
        @{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </p>
    </header>
    <article class="post-content">{{ .Content }}</article>
    <footer class="post-footer">
      {{ if isset .Params "tags" }}
      <ul class="post-tags">
        {{ range $tag := .Params.tags }}
          <li><a href="/tags/{{ $tag | urlize }}"><span class="tag">{{ $tag | title }}</span></a></li>
        {{ end }}
      </ul>
      {{ end }}
      <p class="post-copyright">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" class="img-cc" src="/img/by-sa_4.0_80x15.png" /></a> Cet article est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution-ShareAlike 4.0 International</a>. {{ if gt (div (sub now.Unix .Lastmod.Unix) 86400) 100 }}Cet article a été publié il y a <strong>{{ div (sub now.Unix .Lastmod.Unix) 86400 }}</strong> jours, son contenu peut-être inexact, voire érroné, et l'application des conseils ou consignes présents dans cet article doit être fait à votre propre appréciation. L'auteur de l'article ne pourra être tenu responsable des inconvénients pouvant résulter de l'application des conseils et consignes énoncés dans cet article.{{ end }}
      </p>
    </footer>
    {{ if ne .Params.comments false }}
      {{ if .Site.DisqusShortname }}{{ template "_internal/disqus.html" . }}{{ end }}
    {{ end }}
  </section>
  {{ partial "footer.html" . }}
{{ end }}
