<article class="item-entry item-{{ lower (index .Params.categories 0) }}">
    <div class="item-body">
        {{ if isset .Params "cover" }}
            <aside class="item-media">
                <a href="{{ .Permalink }}" class="item-cover" style="background-image: url({{ .Params.cover }})" alt="{{ .Title }}">&nbsp;</a>
            </aside>
        {{ end }}
        <div class="item-content">
            <header class="item-header">
                <p class="item-meta"><a href="/categories/{{ lower (index .Params.categories 0) }}/">{{ index .Params.categories 0 }}</a></p>
                <h3 class="item-title"><a href="{{ .Permalink }}" class="item-link">{{ .Title }}</a></h3>
            </header>
            <p class="item-summary">{{ .Summary | plainify | htmlUnescape }}</p>
            <footer class="item-footer">
                <ul class="item-meta">
                    <li><i class="fa fa-user"></i> {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</li>
                    <li><i class="fa"></i> {{ index .Params.categories 0 }}</li>
                    <li><i class="fa fa-clock-o"></i> {{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}</li>
                </ul>
            </footer>
        </div>
    </div>
</article>
