/***** Font Definition for Rajdhani. *****/

/* Regular */
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani-regular-webfont.eot');
    src: url('../fonts/rajdhani-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-regular-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-regular-webfont.woff') format('woff'),
         url('../fonts/rajdhani-regular-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-regular-webfont.svg#RajdhaniRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

/* Light */
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani-light-webfont.eot');
    src: url('../fonts/rajdhani-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-light-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-light-webfont.woff') format('woff'),
         url('../fonts/rajdhani-light-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-light-webfont.svg#RajdhaniLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* Semibold */
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani-semibold-webfont.eot');
    src: url('../fonts/rajdhani-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-semibold-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-semibold-webfont.woff') format('woff'),
         url('../fonts/rajdhani-semibold-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-semibold-webfont.svg#RajdhaniSemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Bold */
@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani-bold-webfont.eot');
    src: url('../fonts/rajdhani-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-bold-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-bold-webfont.woff') format('woff'),
         url('../fonts/rajdhani-bold-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-bold-webfont.svg#RajdhaniBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}