body {
    background: #f4f4f4 url(../img/grey-prism.svg) repeat fixed;
}

table {
    text-align: left;
}

table > thead {
    background-color: inherit;
    white-space: nowrap;
}

table > thead > tr > th:first-child, table > thead > tr > td:first-child, table > tbody > tr > td:first-child {
    border-right: none;
    font-weight: inherit;
}

table > tbody > tr:nth-child(2n) > td, table > tbody > tr:nth-child(2n) > th {
    background-color: inherit;
}

table > tbody > tr:hover > td, table > tbody > tr:hover > th {
    background-color: inherit;
}

/* Image */

.image.left, .image.right, .image.center {
    max-width: 100%;
}

.image.left, .image.right {
    margin: 0;
}

.image.center {
    margin: 1em 0;
}

.image.left img, .image.right img, .image.center img {
    width: auto;
    margin: 0 auto;
}

a.image.featured {
    border-bottom: none !important;
    max-width: 100%;
    overflow: hidden;
    width: auto;
}

a.image.featured img {
    -webkit-transition: -webkit-transform 0.2s ease-out;
       -moz-transition:    -moz-transform 0.2s ease-out;
        -ms-transition:     -ms-transform 0.2s ease-out;
            transition:         transform 0.2s ease-out;
}

a.image.featured:hover img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.image.fit {
    display: block;
    margin: 0 0 1em 0;
    max-width: 100%;
    padding: 0 .5em;
    width: auto;
}

.image.fit:first-child {
    padding-left: 0;
}

.image.fit:last-child {
    padding-right: 0;
}

.image-caption {
    font-style: italic;
    margin: -1em auto 1em;
    opacity: .7;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.gallery-nowrap {
    flex-wrap: nowrap;
}

.gallery-wrap {
    flex-wrap: wrap;
}

.gallery-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Syntax */

.gist table > tbody > tr > td:first-child { font-weight: inherit; }
.gist table td, .gist table tr { border: none !important; }
.gist table { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.highlight {
    border-color: #ddd #ddd #ccc !important;
    border-radius: 3px;
    border: 1px solid;
    margin-bottom: 2em;
}

.highlight .lnt {
    color: rgba(27,31,35,.3);
}

.highlight table > tbody > tr > td:first-child {
    background: transparent;
    color: rgba(27,31,35,.3);
    cursor: pointer;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-weight: inherit;
    line-height: 20px;
    min-width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

.highlight table td, .highlight table tr {
    border: none !important;
    padding: 0;
    vertical-align: top;
}

.highlight table {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    margin: 0;
    text-align: left;
    width: 100%;
}

.highlight table > tbody > tr:hover > td, .highlight table > tbody > tr:hover > th {
    background-color: inherit;
}

.highlight table code {
    background-color: #fff;
    padding: .35em;
}

.highlight table pre, .highlight table code {
    border: none;
    margin: 0;
}

.highlight > pre {
    color: #333 !important;
    background: transparent !important;
}

/* links and buttons */

a {
    color: rgb(54, 54, 54) !important;
    opacity: .7;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease, opacity 0.2s ease;
       -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease, opacity 0.2s ease;
        -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease, opacity 0.2s ease;
            transition: color 0.2s ease, border-bottom-color 0.2s ease, opacity 0.2s ease;
}

a:hover, a:hover:before, a.logo, a.image {
    color: rgb(36, 36, 36) !important;
    opacity: 1;
}

input[type="submit"], input[type="reset"], input[type="button"], .button {
    border: solid 1px rgba(54, 54, 54, .4);
    color: rgb(54, 54, 54);
    opacity: .7;
    -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, opacity 0.2s ease;
       -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, opacity 0.2s ease;
        -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, opacity 0.2s ease;
            transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover {
    border: solid 1px rgb(36, 36, 36);
    color: rgb(36, 36, 36) !important;
    opacity: 1;
}

/* Post */

.post {
    padding: 1.5em 1.5em 0 1.5em;
}

.post #content {
    text-align: justify;
}

.post #content h1::before, .post #content h2::before, .post #content h3::before, .post #content h4::before {
    display: block;
    content: "";
    clear: both;
}

.post > header {
    left: -1.5em;
    margin: -1.5em 0 1.5em 0;
    width: calc(100% + 3em);
}

.post > header .cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
    clear: both;
    content: "";
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: calc(100% - 14em);
}

.post > header .title {
    background-color: #363636;
    padding: 1.5em 2.5em 2.5em 1.5em;
}

.post > header .title a {
    color: #fff !important;
}

.post > header .title p {
    color: #f4f4f4;
    margin-left: 0;
    margin-right: 0;
}

.post > header .meta {
    background-color: #f4f4f4;
    min-width: 14em;
    padding: 1.5em 1.5em 2.5em 2.5em;
    width: 14em;
}

.post > header .meta-actus     { background-color: rgba(244, 67, 54, .7); }
.post > header .meta-dossiers  { background-color: rgba(139, 195, 74, .7); }
.post > header .meta-guides    { background-color: rgba(0, 188, 212, .7); }
.post > header .meta-tutoriels { background-color: rgba(255, 193, 7, .7); }
.post > header .meta-console   { background-color: rgba(0, 150, 136, .7); }
.post > header .meta-securite  { background-color: rgba(244, 81, 30, .7); }
.post > header .meta-write-up  { background-color: rgba(232, 30, 98, .7); }

/* Contact */

.post-contact blockquote {
    border-left: none;
    font-size: .8em;
    padding: 0;
    text-align: right;
}

.post-contact blockquote a::before {
    color: inherit !important;
    content: "\f1ab";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: .35em;
}

.post-contact ul {
    display: block;
    list-style: none;
    margin-left: -5px;
    padding-left: 0;
    text-align: center;
}

.post-contact ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

/* About */

.post-about blockquote {
    border-left: none;
    font-size: .8em;
    padding: 0;
    text-align: right;
}

.post-about blockquote a::before {
    color: inherit !important;
    content: "\f1ab";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: .35em;
}

.post-about h3 {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    position: relative;
    text-align: center;
}

.post-about h3::before {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: calc(50% - 2.5em);
}

.post-about h3::after {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    width: calc(50% - 2.5em);
}

/* Work */

.work {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    position: relative;
}

.work h4 {
    font-size: 0.9em;
    margin-bottom: 0;
}

.work ul {
    margin: 0 0 0 -5px !important;
    padding-left: 0;
    list-style: none;
}

.work ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.work a {
    color: #429ab4;
}

.work .work-cover {
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 33.33333333%;
}

@media screen and (max-width: 1100px) {
    .work .work-cover {
        position: relative;
        height: 150px;
        width: 100%;
        margin-top: 1rem;
    }
}

.work .work-cover > a {
    background-color: #429ab4;
    display: table;
    height: 100%;
    width: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
}

.work .work-cover > a:hover {
    opacity: 0.9;
}

.work .work-cover > a > i.fa {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.work .work-body {
    margin-left: 33.33333333%;
    padding-left: 1rem;
}

@media screen and (max-width: 1100px) {
    .work .work-body {
        margin-left: 0;
        padding-left: 0;
    }
}

.work .work-body p {
    text-align: justify;
}

.work .work-content {
    margin-bottom: 0;
    text-align: justify;
}

.work .tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  font-size: .8rem;
  height: 18px;
  line-height: 18px;
  margin: 0 5px 5px 0;
  padding: 0 20px 0 23px;
  position: relative;
  text-decoration: none;
}

.work .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    top: 6px;
    width: 6px;
}

.work .tag::after {
    background: #fff;
    border-bottom: 9px solid transparent;
    border-left: 6px solid #eee;
    border-top: 9px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

/* Alert */

.alert {
    padding: 15px;
    margin: 20px;
    border: 1px solid transparent;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert * {
    color: inherit !important;
}

.alert a {
    font-weight: bold;
}

.alert > .fa, .alert > .fa:hover {
    margin-right: .35em;
}