html {
    font-size: 15px;
    font-family: 'Rajdhani',-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",sans-serif;
    font-weight: 500;
}

body {
    background: #4b5b6e url(../img/blue-prism.png) repeat fixed;
}

.site-header {
    color: #f2f2f2;
}

.site-header a {
    color: #e5e5e5;
}

.site-header a:hover, 
.site-header a:focus, 
.site-header .is-active a {
    color: #f2f2f2;
}

@media screen and (max-height: 768px) and (min-width: 800px) {
    .social-menu {
        display: block;
    }
}

@media screen and (max-height: 568px) and (min-width: 800px) {
    .social-menu {
        display: none;
    }
}

.pull-right {
    display: block;
    float: right;
    margin-left: 1rem !important;
}

.pull-left {
    display: block;
    float: left;
    margin-right: 1rem !important;
}

.align-right {
    display: block;
    text-align: right;
}

.align-left {
    display: block;
    text-align: left;
}

img.pull-right, 
img.pull-left {
    margin-bottom: 0;
    margin-top: 0;
}

.avatar {
    margin-top: 3rem;
    width: 100%;
    height: auto;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: all ease-out .5s;
}

.avatar:hover {
    transform: none;
}

@media screen and (max-width: 800px) {
    .avatar {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: auto;
        height: 2rem;
        margin-top: 0;
        border: none;
    }
}

.post-detail .post-header .post-title {
    margin-bottom: 0;
}

.post-detail .post-header .post-meta {
    margin-top: 0;
}

.post-content {
    line-height: 1.618;
}

.post-content p+ul {
    margin-top: -1rem;
}

.post-entry a:focus, 
.post-entry a:hover, 
.post-content a {
    color: #429ab4;
}

.post-content figure img, 
.post-content img {
    box-shadow: none;
}

.post-content li+li {
    margin-top: 0rem;
}

.suspension a.to-comment {
    color: #429ab4;
}

.suspension a.to-comment:hover {
    color: #fff;
    background-color: #429ab4;
    border-color: #429ab4;
}

.clearfix::after, .clearfix::before {
    display: table;
    content: "";
    clear: both;
}

.img-cc {
    display: inline-block;
    margin-bottom: -3px;
}

/*****************************************
 * Code
 *****************************************/

.code-container {
    border: 1px solid #ddd;
    font-size: 0.9rem;
}

.code-container > .code-title {
    color: #586069;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.code-container > pre.code {
    padding: 10px;
    margin: 0;
}

/*****************************************
 * Supply
 *****************************************/

.supply-panel {
    border: 1px solid #ddd;
    margin: 2rem 0;
    position: relative;
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    padding: 2rem 2rem 0 2rem;
}

.supply-header {
    float: left;
    margin-top: 30px;
    width: 33.33333333%
}

.supply-title {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    font-size: 1.5rem;
    left: 2rem;
    line-height: 2rem;
    padding: .5rem 1rem .5rem;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.supply-cost {
    display: inline-block;
    font-size: 2rem;
    line-height: 2.309rem;
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
}

.supply-cost > span {
    display: block;
    font-size: 1rem;
    line-height: 1.309rem;
}

.supply-level {
    display: block;
    margin: 0.8rem 0 2rem 0;
    text-align: center;
    width: 100%;
}

.supply-level > label {
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    opacity: 0.5;
    text-transform: uppercase;
}

.supply-level > span {
    border: 1px dotted;
    display: inline-block;
    font-size: 1.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 1px;
    opacity: 0.4;
    padding: 0.5rem;
    width: 1.5rem;
}

.supply-level > .level-1 { color: rgb(52,  173, 0); }
.supply-level > .level-2 { color: rgb(255, 174, 0); }
.supply-level > .level-3 { color: rgb(217, 72,  0); }
.supply-level > .level-4 { color: rgb(143, 0,   0); }
.supply-level > .level-5 { color: rgb(124, 0, 110); }

.supply-level-1 > .level-1,
.supply-level-2 > .level-2,
.supply-level-3 > .level-3,
.supply-level-4 > .level-4,
.supply-level-5 > .level-5 {
    border: 1px solid;
    color: #fff;
    font-weight: 600;
    opacity: 1;
}

.supply-level-1 > .level-1 { background-color: rgb(52,  173, 0); }
.supply-level-2 > .level-2 { background-color: rgb(255, 174, 0); }
.supply-level-3 > .level-3 { background-color: rgb(217, 72,  0); }
.supply-level-4 > .level-4 { background-color: rgb(143, 0,   0); }
.supply-level-5 > .level-5 { background-color: rgb(124, 0, 110); }

.supply-content {
    float: left;
    width: 66.66666667%;
    font-size: 0.9rem;
}

.supply-content .supply-item > strong {
    display: block;
    float: left;
    width: 100px;
    overflow: hidden;
    font-weight: 500;
    clear: left;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.supply-content .supply-item > span {
    display: block;
    margin-left: 110px;
    text-align: justify;
}

/*****************************************
 * Rated
 *****************************************/

.rated-container {
    border: 1px solid #ddd;
    margin: 3rem 0 2rem 0;
    position: relative;
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.rated-container > ul, 
.rated-container > ol {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 50%;
    list-style: none;
    text-align: center;
}

.rated-container > ul::before, 
.rated-container > ol::before {
    display: block;
    position: absolute;
    border: 4px solid;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height: 2.618rem;
    background-color: #f4f3f1;
    top: -5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.rated-container > ul::before {
    content: "+";
    border-color: #3c763d;
}

.rated-container > ol::before {
    content: "-";
    border-color: #a94442;
}

/*****************************************
 * Config
 *****************************************/

.config-panel {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 4px solid;
    border-left: 1px solid #ddd !important;
    margin: 2rem 0;
    position: relative;
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    padding: 2rem 2rem 0 2rem;
}

.config-title {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    font-size: 1.5rem;
    left: 2rem;
    line-height: 2rem;
    padding: .5rem 1rem .5rem;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.config-content ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
}

.config-content li > strong {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cost-wrapper {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    right: 2rem;
    top: -2rem;
}

.cost-wrapper > .cost {
    border: 8px solid;
    border-radius: 50%;
    margin: 6px;
}

.cost-wrapper > .cost > span {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    padding: 2rem 1rem;
    text-align: center;
    width: 8rem;
}

.cost-wrapper > .cost > span > em {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2rem;
    text-transform: uppercase;
}

/*****************************************
 * Alert
 *****************************************/

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}