html {
    font-size: 15px;
    font-family: 'Rajdhani',-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",sans-serif;
    font-weight: 500;
}

body {
    background: #4b5b6e url(../img/blue-prism.png) repeat fixed;
}

h1.title, h2.title {
    font-family: inherit;
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 1px 1px 0 rgba(229, 229, 229, 0.3);
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
}

.site-header {
    color: #f2f2f2;
}

.site-header a {
    color: #e5e5e5;
}

.site-header a:hover, 
.site-header a:focus, 
.site-header .is-active a {
    color: #f2f2f2;
}

@media screen and (max-height: 768px) and (min-width: 800px) {
    .social-menu {
        display: block;
    }
}

@media screen and (max-height: 568px) and (min-width: 800px) {
    .social-menu {
        display: none;
    }
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.pull-right {
    display: block;
    float: right;
    margin: 1rem auto 1rem 1rem !important;
}

.pull-left {
    display: block;
    float: left;
    margin: 1rem 1rem 1rem auto !important;
}

.pull-right img, 
.pull-left img {
    margin: 0 auto;
}

.half {
    max-width: 50%;
}

.align-right {
    display: block;
    text-align: right;
}

.align-left {
    display: block;
    text-align: left;
}

.text-primary {
    color: #429ab4;
}

img.pull-right, 
img.pull-left {
    margin-bottom: 0;
    margin-top: 0;
}

.menu-toggle {
    color: #f7f7f7;
}

.avatar:hover {
    transform: none;
}

@media screen and (max-width: 800px) {
    .avatar {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: auto;
        height: 2rem;
        margin-top: 0;
        border: none;
    }
}

.page-detail .page-header, .post-list .page-header, .post-list .category-header {
    background-color: #f4f3f1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .page-detail .page-header, .post-list .page-header, .post-list .category-header {
        margin-top: 20px;
    }
}

.post-list .category-actus     { background-color: #cc0033; color: #fff; }
.post-list .category-dossiers  { background-color: #00cc43; color: #fff; }
.post-list .category-guides    { background-color: #0077db; color: #fff; }
.post-list .category-tutoriels { background-color: #f7b63e; color: #fff; }
.post-list .category-console   { background-color: #cc0085; color: #fff; }

.page-detail .page-header .page-title, .post-list .page-header .title {
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

.post-detail .post-header .post-title {
    margin-bottom: 0;
}

.post-detail .post-header .post-meta {
    margin-top: 0;
    border-bottom: solid 3px rgb(74, 74, 74);
}

.post-detail .post-header .post-actus     { border-bottom-color: rgb(204, 0,   51 ); }
.post-detail .post-header .post-dossiers  { border-bottom-color: rgb(0,   204, 67 ); }
.post-detail .post-header .post-guides    { border-bottom-color: rgb(0,   119, 219); }
.post-detail .post-header .post-tutoriels { border-bottom-color: rgb(247, 182, 62 ); }
.post-detail .post-header .post-console   { border-bottom-color: rgb(204, 0,   133); }

.post-detail .post-header .post-meta .category > a {
  display: inline-block;
  background-color: rgba(74, 74, 74, 0.3);
  padding: 2px 10px;
  margin: 0;
}

.post-detail .post-header .post-actus     .category > a { background-color: rgba(204, 0,   51 , 0.3); }
.post-detail .post-header .post-dossiers  .category > a { background-color: rgba(0,   204, 67 , 0.3); }
.post-detail .post-header .post-guides    .category > a { background-color: rgba(0,   119, 219, 0.3); }
.post-detail .post-header .post-tutoriels .category > a { background-color: rgba(247, 182, 62 , 0.3); }
.post-detail .post-header .post-console   .category > a { background-color: rgba(204, 0,   133, 0.3); }

.post-content {
    line-height: 1.618;
}

.post-content p+ul {
    margin-top: -1rem;
}

.post-entry a:focus, 
.post-entry a:hover, 
.post-content a {
    color: #429ab4;
}

.post-content figure img, 
.post-content img {
    box-shadow: none;
}

.post-content figure a > img {
    background-color: #fff;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s;
    -ms-transition: opacity 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}

.post-content figure a:hover > img {
    opacity: .5;
}

.post-content li+li {
    margin-top: 0rem;
}

.suspension a.to-comment {
    color: #429ab4;
}

.suspension a.to-comment:hover {
    color: #fff;
    background-color: #429ab4;
    border-color: #429ab4;
}

.clearfix::after, .clearfix::before {
    display: table;
    content: "";
    clear: both;
}

.img-cc {
    display: inline-block;
    margin-bottom: -3px;
}

.pagination {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    background-color: #f4f3f1;
}

.pagination::after {
    content: "";
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    width: 1px;
    left: 0;
    right: 0;
    margin: auto;
}

.pagination .pagination-previous, .pagination .pagination-next {
    border: none;
    background-color: transparent;
    text-align: center;
    width: 50%;
    width: calc(50%-2rem);
}

.pagination .pagination-previous {
    text-align: left;
}

.pagination .pagination-next {
    text-align: right;
}

.pagination .pagination-previous:focus, .pagination .pagination-previous:hover, .pagination .pagination-next:focus, .pagination .pagination-next:hover {
    color: #429ab4;
    background-color: transparent;
    border-color: transparent;
}

.site-footer, .site-footer * {
    color: rgba(255, 255, 255, 0.5);
}

/*****************************************
 * Code
 *****************************************/

.code-container {
    border: 1px solid #ddd;
    font-size: 0.9rem;
}

.code-container > .code-title {
    color: #586069;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.code-container > pre.code {
    padding: 10px;
    margin: 0;
}

/*****************************************
 * Box
 *****************************************/

.box-full {
    display: block;
    width: 100%;
}

.box-full::after, .box-full::before {
    display: table;
    content: "";
    clear: both;
}

.box-half-left, .box-half-right {
    display: block;
    width: 50%;
}

.box-half-left {
    float: left;
}

.box-half-right {
    float: right;
}

@media screen and (max-width: 1100px) {
    .box-half-left, .box-half-right {
        float: none;
        display: block;
        width: 100%;
    }

    .box-half-left::after, .box-half-left::before, .box-half-right::after, .box-half-right::before {
        display: table;
        content: "";
        clear: both;
    }
}

.box .box-body {
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    border: 1px solid #ddd;
    padding: 0 2rem;
    margin: 1rem auto;
}

.box-half-left .box-body {
    margin-right: 1rem;
}

.box-half-right .box-body {
    margin-left: 1rem;
}

@media screen and (max-width: 1100px) {
    .box-half-left .box-body, .box-half-right .box-body {
        margin-right: auto;
        margin-left: auto;
    }
}

.box .box-body .box-title {
    text-transform: uppercase;
}

.box .box-body .box-title small {
    font-size: .7em;
    color: #999;
}

.box-half-left .box-body .box-title small, .box-half-right .box-body .box-title small {
    display: block;
}

@media screen and (max-width: 1100px) {
    .box-half-left .box-body .box-title small, .box-half-right .box-body .box-title small {
        display: inline-block;
    }
}

/*****************************************
 * Supply
 *****************************************/

.supply-panel {
    border: 1px solid #ddd;
    margin: 2rem 0;
    position: relative;
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    padding: 2rem 2rem 0 2rem;
}

.supply-header {
    float: left;
    margin-top: 30px;
    width: 33.33333333%
}

@media screen and (max-width: 640px) {
    .supply-header {
        float: none;
        width: 100%;
    }
}

.supply-title {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    font-size: 1.5rem;
    left: 2rem;
    line-height: 2rem;
    padding: .5rem 1rem .5rem;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.supply-cost {
    display: inline-block;
    font-size: 2rem;
    line-height: 2.309rem;
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
}

.supply-cost > span {
    display: block;
    font-size: 1rem;
    line-height: 1.309rem;
}

.supply-level {
    display: block;
    margin: 0.8rem 0 2rem 0;
    text-align: center;
    width: 100%;
}

.supply-level > label {
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    opacity: 0.5;
    text-transform: uppercase;
}

.supply-level > span {
    border: 1px dotted;
    display: inline-block;
    font-size: 1.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 1px;
    opacity: 0.4;
    padding: 0.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 1100px) {
    .supply-level > span {
        font-size: .9rem;
        height: 1.1rem;
        line-height: 1.1rem;
        padding: 0.2rem;
        width: 1.1rem;
    }
}

@media screen and (max-width: 950px) {
    .supply-level > span {
        font-size: .7rem;
        height: .8rem;
        line-height: .8rem;
        padding: 0.2rem;
        width: .8rem;
    }
}

@media screen and (max-width: 800px) {
    .supply-level > span {
        font-size: .9rem;
        height: 1.1rem;
        line-height: 1.1rem;
        padding: 0.2rem;
        width: 1.1rem;
    }
}

.supply-level > .level-1 { color: rgb(52,  173, 0); }
.supply-level > .level-2 { color: rgb(255, 174, 0); }
.supply-level > .level-3 { color: rgb(217, 72,  0); }
.supply-level > .level-4 { color: rgb(143, 0,   0); }
.supply-level > .level-5 { color: rgb(124, 0, 110); }

.supply-level-1 > .level-1,
.supply-level-2 > .level-2,
.supply-level-3 > .level-3,
.supply-level-4 > .level-4,
.supply-level-5 > .level-5 {
    border: 1px solid;
    color: #fff;
    font-weight: 600;
    opacity: 1;
}

.supply-level-1 > .level-1 { background-color: rgb(52,  173, 0); }
.supply-level-2 > .level-2 { background-color: rgb(255, 174, 0); }
.supply-level-3 > .level-3 { background-color: rgb(217, 72,  0); }
.supply-level-4 > .level-4 { background-color: rgb(143, 0,   0); }
.supply-level-5 > .level-5 { background-color: rgb(124, 0, 110); }

.supply-content {
    float: left;
    width: 66.66666667%;
    font-size: 0.9rem;
}

@media screen and (max-width: 640px) {
    .supply-content {
        float: none;
        margin-bottom: 10px;
        width: 100%;
    }
}

.supply-content .supply-item > strong {
    display: block;
    float: left;
    width: 100px;
    overflow: hidden;
    font-weight: 500;
    clear: left;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.supply-content .supply-item > span {
    display: block;
    margin-left: 110px;
    text-align: justify;
}

/*****************************************
 * Rated
 *****************************************/

.rated-container {
    border: 1px solid #ddd;
    margin: 3rem 0 2rem 0;
    position: relative;
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.rated-container > ul, 
.rated-container > ol {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 50%;
    list-style: none;
    text-align: center;
}

.rated-container > ul::before, 
.rated-container > ol::before {
    display: block;
    position: absolute;
    border: 4px solid;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height: 2.618rem;
    background-color: #f4f3f1;
    top: -5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.rated-container > ul::before {
    content: "+";
    border-color: #3c763d;
}

.rated-container > ol::before {
    content: "-";
    border-color: #a94442;
}

/*****************************************
 * Config
 *****************************************/

.config-panel {
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 4px solid;
    border-left: 1px solid #ddd !important;
    margin: 2rem 0;
    position: relative;
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    padding: 2rem 2rem 0 2rem;
}

.config-title {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    font-size: 1.5rem;
    left: 2rem;
    line-height: 2rem;
    padding: .5rem 1rem .5rem;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.config-content ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
}

.config-content li > strong {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cost-wrapper {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    right: 2rem;
    top: -2rem;
}

.cost-wrapper > .cost {
    border: 8px solid;
    border-radius: 50%;
    margin: 6px;
}

.cost-wrapper > .cost > span {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    padding: 2rem 1rem;
    text-align: center;
    width: 8rem;
}

.cost-wrapper > .cost > span > em {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2rem;
    text-transform: uppercase;
}

/*****************************************
 * Alert
 *****************************************/

.alert {
    padding: 15px;
    margin: 20px;
    border: 1px solid transparent;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert * {
    color: inherit !important;
}

.alert a {
    font-weight: bold;
}

/*****************************************
 * Timeline
 *****************************************/

.timeline {
    list-style: outside none none;
    margin: 0 auto;
    overflow: hidden;
    padding: 65px 0 0;
    position: relative;
}

.timeline + .list-footer {
    margin-top: 0;
    padding-top: 0;
}

.timeline::before {
    background-color: #bfbfbf;
    content: "";
    left: 50%;
    margin-left: -3px;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 1;
}

.timeline > .item-entry {
    background-color: transparent;
    border-style: none;
    box-shadow: none;
    margin: 0 0 30px;
    position: relative;
    width: 50%;
}

.timeline > .item-entry:nth-of-type(2n+1) {
    clear: left;
    float: left;
}

.timeline > .item-entry:nth-of-type(2n) {
    clear: right;
    float: right;
}

.timeline > .item-entry:nth-of-type(2n+1)::after {
    border-left: 10px solid #bfbfbf;
    left: auto;
    right: 15px;
}

.timeline > .item-entry:nth-of-type(2n)::after {
    border-right: 10px solid #bfbfbf;
    left: 15px;
    right: auto;
}

.timeline > .item-entry::after {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 8px;
    width: 0;
    z-index: 1;
}

.timeline > .item-entry:nth-of-type(2n)::after {
    top: 48px;
}

.timeline > .item-entry > .pointer {
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
    z-index: 2;
}

.timeline > .item-entry:nth-of-type(2n+1) > .pointer {
    top: 6px;
    left: auto;
    right: -12.5px;
}

.timeline > .item-entry:nth-of-type(2n) > .pointer {
    top: 46px;
    left: -12.5px;
    right: auto;
}

.timeline > .item-actus     > .pointer { background-color: #cc0033; }
.timeline > .item-dossiers  > .pointer { background-color: #00cc43; }
.timeline > .item-guides    > .pointer { background-color: #0077db; }
.timeline > .item-tutoriels > .pointer { background-color: #f7b63e; }
.timeline > .item-console   > .pointer { background-color: #cc0085; }

.timeline > .item-entry > .pointer > i.fa {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    text-align: center;
}

.timeline > .item-actus     > .pointer > i.fa:before { content:"\f0a1"; }
.timeline > .item-dossiers  > .pointer > i.fa:before { content:"\f02d"; }
.timeline > .item-guides    > .pointer > i.fa:before { content:"\f108"; }
.timeline > .item-tutoriels > .pointer > i.fa:before { content:"\f0ad"; }
.timeline > .item-console   > .pointer > i.fa:before { content:"\f121"; }

.timeline > .item-entry > .item-body {
    background: #f4f3f1 url(../img/grey-prism.svg) repeat scroll;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 0;
}

.timeline > .item-entry:nth-of-type(2n+1) > .item-body {
    margin-left: 0;
    margin-right: 25px;
}

.timeline > .item-entry:nth-of-type(2n) > .item-body {
    margin-left: 25px;
    margin-right: 0;
}

.timeline > .item-entry > .item-body > .item-side {
    background-color: #555;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    width: 100%;
}

.timeline > .item-entry > .item-body > .item-side > a.item-cover {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    width: 100%;
}

.timeline > .item-entry > .item-body > .item-header {
    padding-left: 15px;
    padding-right: 15px;
}

.timeline > .item-entry > .item-body > .item-header > .item-meta {
    color: #999;
    font-size: .9rem;
    font-weight: 300;
    margin: 15px auto 10px;
}

.timeline > .item-entry > .item-body > .item-header > .item-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0;
}

.timeline > .item-entry > .item-body > .item-summary {
    font-size: 1rem;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.timeline > .item-entry > .item-body > .item-footer {
    background-color: #f4f3f1;
    border-bottom: medium solid;
    padding: 10px;
    text-align: left;
}

.timeline > .item-actus     > .item-body > .item-footer { border-bottom-color: #cc0033; }
.timeline > .item-dossiers  > .item-body > .item-footer { border-bottom-color: #00cc43; }
.timeline > .item-guides    > .item-body > .item-footer { border-bottom-color: #0077db; }
.timeline > .item-tutoriels > .item-body > .item-footer { border-bottom-color: #f7b63e; }
.timeline > .item-console   > .item-body > .item-footer { border-bottom-color: #cc0085; }

.timeline > .item-entry > .item-body > .item-footer > .item-meta {
    margin: 0;
}

.timeline > .item-actus     > .item-body > .item-footer > .item-meta > i.fa {
    font-weight: bold;
    margin-right: 5px;
}

.timeline > .item-actus     > .item-body > .item-footer > .item-meta > i.fa:before { color: #cc0033; content:"\f0a1"; }
.timeline > .item-dossiers  > .item-body > .item-footer > .item-meta > i.fa:before { color: #00cc43; content:"\f02d"; }
.timeline > .item-guides    > .item-body > .item-footer > .item-meta > i.fa:before { color: #0077db; content:"\f108"; }
.timeline > .item-tutoriels > .item-body > .item-footer > .item-meta > i.fa:before { color: #f7b63e; content:"\f0ad"; }
.timeline > .item-console   > .item-body > .item-footer > .item-meta > i.fa:before { color: #cc0085; content:"\f121"; }

.timeline > .item-actus     > .item-body > .item-footer > .item-meta > a {
    font-weight: bold;
}

.timeline > .item-actus     > .item-body > .item-footer > .item-meta > a { color: #cc0033; }
.timeline > .item-dossiers  > .item-body > .item-footer > .item-meta > a { color: #00cc43; }
.timeline > .item-guides    > .item-body > .item-footer > .item-meta > a { color: #0077db; }
.timeline > .item-tutoriels > .item-body > .item-footer > .item-meta > a { color: #f7b63e; }
.timeline > .item-console   > .item-body > .item-footer > .item-meta > a { color: #cc0085; }

@media screen and (max-width: 1100px) {
    .timeline > .item-entry {
        clear: both;
        float: none;
        margin-top: 20px;
        text-align: center;
        width: auto;
        z-index: 2;
    }

    .timeline > .item-entry:nth-of-type(n)::after {
        border-bottom: 10px solid #bfbfbf;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        left: 50%;
        margin-left: -10px;
        right: auto;
        top: -20px;
    }

    .timeline > .item-entry:nth-of-type(n) > .pointer {
        left: 50%;
        margin-left: -12.5px;
        right: auto;
        top: -38px;
    }

    .timeline > .item-entry > .item-body:nth-of-type(n) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

/*****************************************
 * Gallery
 *****************************************/

figure.gallery {
    margin-left: -1rem;
    margin-right: -1rem;
}

figure.gallery::before, 
figure.gallery::after {
    display: table;
    content: "";
    clear: both;
}

figure.gallery .gallery-item {
    float: left;
}

figure.gallery-column-2 .gallery-item { width: 50%; }
figure.gallery-column-3 .gallery-item { width: 33.33333333%; }
figure.gallery-column-4 .gallery-item { width: 25%; }
figure.gallery-column-5 .gallery-item { width: 20%; }
figure.gallery-column-6 .gallery-item { width: 16.66666667%; }

@media screen and (max-width: 1100px) {
    figure.gallery-column-2 .gallery-item { width: 50%; }
    figure.gallery-column-3 .gallery-item { width: 33.33333333%; }
    figure.gallery-column-4 .gallery-item { width: 50%; }
    figure.gallery-column-5 .gallery-item { width: 33.33333333%; }
    figure.gallery-column-6 .gallery-item { width: 33.33333333%; }
}

@media screen and (max-width: 640px) {
    figure.gallery-column-2 .gallery-item { width: 100%; }
    figure.gallery-column-3 .gallery-item { width: 100%; }
    figure.gallery-column-4 .gallery-item { width: 50%; }
    figure.gallery-column-5 .gallery-item { width: 50%; }
    figure.gallery-column-6 .gallery-item { width: 50%; }
}

figure.gallery .gallery-item > .gallery-image {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

figure.gallery .gallery-item > .gallery-image > * {
    display: inline-block;
}

figure.gallery .gallery-item > .gallery-image a {
    border-style: none;
}

figure.gallery .gallery-item > .gallery-image img {
    margin: 0;
    max-width: 100%;
    height: auto;
}

/*****************************************
 * Works
 *****************************************/

.work {
    position: relative;
}

.work a {
    color: #429ab4;
}

.work .work-cover {
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 33.33333333%;
}

@media screen and (max-width: 1100px) {
    .work .work-cover {
        position: relative;
        height: 150px;
        width: 100%;
        margin-top: 1rem;
    }
}

.work .work-cover > a {
    background-color: #429ab4;
    display: table;
    height: 100%;
    width: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
}

.work .work-cover > a:hover {
    opacity: 0.9;
}

.work .work-cover > a > i.fa {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.work .work-body {
    margin-left: 33.33333333%;
    padding-left: 1rem;
}

@media screen and (max-width: 1100px) {
    .work .work-body {
        margin-left: 0;
        padding-left: 0;
    }
}

.work .work-body p {
    text-align: justify;
}