    </div>

    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>

    {{ if (not .Params.disable_highlight) }}
        <script src="{{ "js/highlight/highlight-9.11.0.min.js" | relURL }}"></script>
        {{ $.Scratch.Set "highLangs" .Site.Params.highlightjsLang }}
        {{ range .Params.highlightjsLang }}{{ $.Scratch.Add "highLangs" . }}{{ end }}
        {{ range ($.Scratch.Get "highLangs") }}
        <script src='{{ delimit (slice "/js/highlight/" . ".min.js") "" | relURL }}'></script>{{ end }}
        <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}

    <script src='{{ "js/jquery-3.2.1.min.js" | relURL }}'></script>
    <script src='{{ "js/skel.min.js" | relURL }}'></script>
    <script src='{{ "js/jquery.fancybox.min.js" | relURL }}'></script>
    <script src='{{ "js/util.js" | relURL }}'></script>
    <script src='{{ "js/main.js" | relURL }}'></script>
    <script src='{{ "js/backToTop.js" | relURL }}'></script>

</body>
</html>