<div class="supply-panel clearfix">
    <div class="supply-header">
        <div class="supply-title">Matériel</div>
        {{ with .Get "cost"}}<div class="supply-cost">{{.}} <span>euros</span></div>{{ end }}
        <div class="supply-level supply-level-{{ .Get `level` }}">
            <label>Difficulté</label>
            <span class="level-1">1</span>
            <span class="level-2">2</span>
            <span class="level-3">3</span>
            <span class="level-4">4</span>
            <span class="level-5">5</span>
        </div>
    </div>
    <div class="supply-content">
        <div class="supply-item clearfix"><strong>Temps estimé :</strong> <span>{{ .Get "time" }}</span></div>
        <div class="supply-item clearfix"><strong>Il vous faut :</strong> <span>{{ .Get "supplies" }}</span></div>
    </div>
</div>